name: "units-test"
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

env:
  AWS_ACCESS_KEY_ID: TestAccessKeyID
  AWS_SECRET_ACCESS_KEY: TestSecretAccessKey

jobs:
  # unit tests
  units:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Boot up DynamoDB
        run: docker compose up -d

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - run: npm ci

      - run: make test
        env:
          DEBUG: 'true'

  # test action works running from the graph
  test:
    runs-on: ubuntu-latest

    env:
      AWS_ENDPOINT_URL: 'http://localhost:8000'
      ACTIONS_RUNNER_DEBUG: true
      DEBUG: 'true'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Boot up DynamoDB
        run: docker compose up -d

      - name: Prep metadata table
        env:
          AWS_ACCESS_KEY_ID: TestAccessKeyID
          AWS_SECRET_ACCESS_KEY: TestSecretAccessKey
        run: |
          aws dynamodb create-table \
                       --endpoint-url $AWS_ENDPOINT_URL \
                       --region local \
                       --table-name metadata \
                       --attribute-definitions \
                         AttributeName=repository,AttributeType=S \
                         AttributeName=commit_sha,AttributeType=S \
                       --key-schema \
                         AttributeName=repository,KeyType=HASH \
                         AttributeName=commit_sha,KeyType=RANGE \
                       --provisioned-throughput \
                         ReadCapacityUnits=1,WriteCapacityUnits=1

      - name: Test with given slices
        uses: ./
        with:
          access_key_id: TestAccessKeyID
          secret_access_key: TestSecretAccessKey
          meta_table_arn: 'arn:aws:dynamodb:local:000000000000:table/metadata'
          slices: 'api,consumer'

      - name: Check if everything is there
        env:
          AWS_ACCESS_KEY_ID: TestAccessKeyID
          AWS_SECRET_ACCESS_KEY: TestSecretAccessKey
        run: ./.github/scripts/verify --slices api,consumer

      - name: Test without slices
        uses: ./
        with:
          access_key_id: TestAccessKeyID
          secret_access_key: TestSecretAccessKey
          meta_table_arn: 'arn:aws:dynamodb:local:000000000000:table/metadata'

      - name: Check if everything is there
        env:
          AWS_ACCESS_KEY_ID: TestAccessKeyID
          AWS_SECRET_ACCESS_KEY: TestSecretAccessKey
        run: ./.github/scripts/verify

      - name: Test with custom branch name
        uses: ./
        with:
          access_key_id: TestAccessKeyID
          secret_access_key: TestSecretAccessKey
          meta_table_arn: 'arn:aws:dynamodb:local:000000000000:table/metadata'
          branch: 'feature/add-examples'

      - name: Check if everything is there
        env:
          AWS_ACCESS_KEY_ID: TestAccessKeyID
          AWS_SECRET_ACCESS_KEY: TestSecretAccessKey
        run: ./.github/scripts/verify --branch-name feature/add-examples

      - name: Test with custom commit-message SHA
        uses: ./
        with:
          access_key_id: TestAccessKeyID
          secret_access_key: TestSecretAccessKey
          meta_table_arn: 'arn:aws:dynamodb:local:000000000000:table/metadata'
          commit_message_sha: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Check if everything is there
        env:
          AWS_ACCESS_KEY_ID: TestAccessKeyID
          AWS_SECRET_ACCESS_KEY: TestSecretAccessKey
        run: ./.github/scripts/verify --commit-message-sha ${{ github.event.pull_request.head.sha || github.sha }}

  release:
    if: github.ref == 'refs/heads/main'
    needs: [units, test]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.64.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: false
        id: bump
      - name: Release action
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.bump.outputs.tag }}
      - name: Update major version
        uses: cloudposse/github-action-major-release-tagger@v1
